# KNN Classifier: 1. Import data set

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('weight-height.csv')

In [3]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [4]:
df['Gender'] = np.where(df['Gender'] == 'Male', 1, 0)

In [5]:
df.head()

   Gender     Height      Weight
0       1  73.847017  241.893563
1       1  68.781904  162.310473
2       1  74.110105  212.740856
3       1  71.730978  220.042470
4       1  69.881796  206.349801

# KNN Classifier: 2. Separate x and (y=Gender)

In [6]:
x = df.drop('Gender', axis=1)
y = df[['Gender']]

In [7]:
x.head()

      Height      Weight
0  73.847017  241.893563
1  68.781904  162.310473
2  74.110105  212.740856
3  71.730978  220.042470
4  69.881796  206.349801

In [8]:
y.head()

   Gender
0       1
1       1
2       1
3       1
4       1

In [9]:
df.shape

(8555, 3)

# KNN Classifier: 3. Train = 70%, Test = 30%

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y, test_size=.30, random_state=0)

In [12]:
xtrain.shape

(5988, 2)

In [13]:
xtest.shape

(2567, 2)

# KNN Classifier: 4. Apply KNN Classifier

In [14]:
from sklearn.neighbors import KNeighborsClassifier
>>> y_neigh = KNeighborsClassifier(n_neighbors=100)

In [15]:
y_neigh.fit(xtrain, ytrain)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:198: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=100)

In [16]:
y_neigh.predict([[73.84701702,241.8935632]])

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([1])

In [17]:
df['predicted_Gender'] = y_neigh.predict(x)
df.head()

   Gender     Height      Weight  predicted_Gender
0       1  73.847017  241.893563                 1
1       1  68.781904  162.310473                 0
2       1  74.110105  212.740856                 1
3       1  71.730978  220.042470                 1
4       1  69.881796  206.349801                 1

In [18]:
df['predicted_Gender'] = np.where(df['predicted_Gender'] == 1, 'Male', 'Female')

In [21]:
df.head()

   Gender     Height      Weight predicted_Gender
0       1  73.847017  241.893563             Male
1       1  68.781904  162.310473           Female
2       1  74.110105  212.740856             Male
3       1  71.730978  220.042470             Male
4       1  69.881796  206.349801             Male

# KNN Classifier: 5. Evaluate the Model by only Accuracy.

In [22]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(ytest, y_neigh.predict(xtest))
mse

0.0876509544215037